
<div id="header" class="section" data-type="background">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center"><strong>Vigilant</strong></h1>
			<p class=" text-center">A crowdsource app for tracking problems in a city</p>
		</div>
	</div>
</div>

<div id="motivation" class="section" data-type="background">
	<div class="row">
		<div class="col-md-6 sectionDescriptionCanvas">
			<div class="sectionTitleCanvas">
				<h1>Motivation</h1>
				<h2>What leads our goal</h2>
			</div>
			<div class="sectionTextCanvas">
				<p class="text-left lead">Many cities around the World face some problems every year: holes on the streets, sliding, flooding and structural problems are some well‐known examples. Unfortunately many of them take a long time to be solved because of the bureaucracies or depend on the media (TV, News, Radio and Internet) to be known by the government while many citizens have to face this scenario day by day.
				</p>
			</div>
		</div>
		<div class="col-md-6 contentSectionCanvas">
			<%= image_tag("motivation-city.png") %>
		</div>
	</div>
</div>

<div id="statistics" class="section">
	<div class="row">
		<div class="col-md-4 sectionDescriptionCanvas">
			<div class="sectionTitleCanvas">
				<h1>Statistics</h1>
				<h2>What supports our idea</h2>
			</div>
			<div class="sectionTextCanvas">
				<p class="text-left lead">In order to validate and understand the social problems we created an online form and it was sent to friends and known people.
				</p>
				<p class="text-left lead">After a while it was collected 114 responses from more than 25 cities in Brazil. Despite the form was responded only by brazilian, the results turned out to be surprisingly interesting.
				</p>
			</div>
		</div>

		<div class="col-md-8 sectionDataVisCanvas">
			<div class="sectionDataVisWrapper">
				<div class="graphicDataCanvas">
					<div class="plotTitleCanvas">
						<h1 class="">Are you satisfied with your city?</h1>
					</div>
					<div class="plotCanvas">
						<p class="text-center"><%= image_tag("gf-satisfaction.png") %></p>

					</div>
				</div>
				<div class="textDataCanvas">
					<div class="dataConclusionCanvas">
						<h2>92% have some level of dissatisfaction with the city they live </h2>
					</div>
					<div class="graphLegendCanvas">
						<h2>Legend</h2>
						<ul>
							<li><div class="legend legend-1"></div>Very Satisfied (4%)</li>
							<li><div class="legend legend-2"></div> Satisfied (4%)</li>
							<li><div class="legend legend-3"></div>Partially Satisfied (29%)</li>
							<li><div class="legend legend-4"></div>Not Satisfied (31)%</li>
							<li><div class="legend legend-5"></div>Very Unsatisfied (31%)</li>

						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="sectionDataVisWrapper">
				<div class="graphicDataCanvas">
					<div class="plotTitleCanvas">
						<h1 class="">When you find a problem in your city, do you usually report it to city hall? </h1>
					</div>
					<div class="plotCanvas">
						<p class="text-center"><%= image_tag("gf-report.png") %></p>
						
					</div>
				</div>
				<div class="textDataCanvas">
					<div class="dataConclusionCanvas">
						<h2>Just 14% complain formally to the city hall</h2>
					</div>
					<div class="graphLegendCanvas">
						<h2>Legend</h2>
						<ul>
							<li><div class="legend legend-3"></div>Partially Satisfied (14%)</li>
							<li><div class="legend legend-4"></div>Not Satisfied (86%)</li>
						</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			

		</div>
	</div>
</div>

<div id="about" class="section" data-type="background">
	<div class="row">
		<div class="col-md-4 sectionDescriptionCanvas">
			<div class="sectionTitleCanvas">
				<h1>About</h1>
				<h2>What we suggest</h2>
			</div>
			<div class="sectionTextCanvas">
				<p class="text-left lead">Vigilant is a crowdsourcing app that allows people to alert the city's problems and exposed them through the Internet. Using the app, the citizen is not only a person who complains about the city but an agent who helps to identify the problems of his community. A vigilant.
				</p>
			</div>
		</div>
		<div class="col-md-8 contentSectionCanvas">
				<div class="appDemonstrationCanvas">
					<ul>
						<li>
							<div class="appDemonstrationImgCanvas">
							<%= image_tag("eye-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Aviste um problema</h2>
							<p>O user avista um problema na rua (buraco, poste,...)</p></div>
							<div class="clear"></clear>
						</li>
						<li>
							<div class="appDemonstrationImgCanvas">
							<%= image_tag("smartphone_camera-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Aviste um problema</h2></div>
							<div class="clear"></clear>
						</li>
						<li>
							<div class="appDemonstrationImgCanvas">
							<%= image_tag("form3-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Aviste um problema</h2></div>
							<div class="clear"></clear>
						</li>
						<li>
							<div class="appDemonstrationImgCanvas">
							<%= image_tag("cloud-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Aviste um problema</h2></div>
							<div class="clear"></clear>
						</li>
						<li>
							<div class="appDemonstrationImgCanvas">
							<%= image_tag("map-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Aviste um problema</h2></div>
							<div class="clear"></clear>
						</li>
					</ul>
				</div>
				<ul>
				</ul>
			</div>
		</div>

	</div>
</div>

<div id="contact" class="section" data-type="background">
	<div class="row">
		<div class="col-md-3 sectionDescriptionCanvas ">
			<div class="sectionTitleCanvas">
				<h1>Contact</h1>
				<h2>Let me introduce myself</h2>
			</div>
			<div class="sectionTextCanvas">
				<p class="text-left lead">If you want to give us any feedback, make a question or just say 'hi', we will apreciate it.</p>
			</div>

		</div>
		<div class="col-md-9 contentSectionCanvas">
			<div class=".col-md-offset-3 col-md-3 contactTile ">
				<div class="contactPhoto">
				</div>
				<div class="contactInfoContainer">
					<div class="contactName">
						Victor Martinez
					</div>
					<div class="contactWays">
					</div>
				</div>
			</div>
			<div class=".col-md-offset-3 col-md-3 contactTile ">
				<div class="contactPhoto">
				</div>
				<div class="contactInfoContainer">
					<div class="contactName">
						Bernardo Bechtold
					</div>
					<div class="contactWays">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>