<div id="header" class="section" data-type="background"
data-0-start="top:0px;"
data-1000-start="top:-810px;"
data-0-start="opacity:1;"
data-1000-start="opacity:0;"
>
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center"><strong>Vigilant</strong></h1>
		<p class=" text-center">A crowdsource app for tracking problems in a city</p>
	</div>
</div>
</div>

<div id="motivation" class="section whiteTheme" data-type="background"
>
<div class="row">
	<div class="col-md-6 sectionDescriptionCanvas">
		<div class="sectionTitleCanvas">
			<h1>Motivation</h1>
			<h2>What leads our goal</h2>
		</div>
		<div class="sectionTextCanvas">
			<p class="text-left lead">Many cities around the World face some problems every year: holes on the streets, sliding, flooding and structural problems are some well‐known examples. Unfortunately many of them take a long time to be solved because of the bureaucracies or depend on the media (TV, News, Radio and Internet) to be known by the government while many citizens have to face this scenario day by day.
			</p>
		</div>
	</div>
	<div class="col-md-6 contentSectionCanvas">
		<%= image_tag("motivation-city.png") %>
	</div>
</div>
</div>

<div id="statistics" class="section"
data-0-start="top:-910px"
data-1500-start="top:-910px;"
data-1700-start="top:0px;"
>
<div class="row">
	<div class="col-md-4 sectionDescriptionCanvas">
		<div class="sectionTitleCanvas">
			<h1>Statistics</h1>
			<h2>What supports our idea</h2>
		</div>
		<div class="sectionTextCanvas">
			<p class="text-left lead">In order to validate and understand the social problems we created an online form and it was sent to friends and known people.
			</p>
			<p class="text-left lead">After a while it was collected 114 responses from more than 25 cities in Brazil. Despite the form was responded only by brazilian, the results turned out to be surprisingly interesting.
			</p>
		</div>
	</div>

	<div class="col-md-8 sectionDataVisCanvas">
		<div class="sectionDataVisWrapper">
			<div class="graphicDataCanvas">
				<div class="plotTitleCanvas">
					<h1 class="">Are you satisfied with your city?</h1>
				</div>
				<div class="plotCanvas">
					<p class="text-center"><%= image_tag("gf-satisfaction.png") %></p>

				</div>
			</div>
			<div class="textDataCanvas">
				<div class="dataConclusionCanvas">
					<h2>92% have some level of dissatisfaction with the city they live </h2>
				</div>
				<div class="graphLegendCanvas">
					<h2>Legend</h2>
					<ul>
						<li><div class="legend legend-1"></div>Very Satisfied (4%)</li>
						<li><div class="legend legend-2"></div> Satisfied (4%)</li>
						<li><div class="legend legend-3"></div>Partially Satisfied (29%)</li>
						<li><div class="legend legend-4"></div>Not Satisfied (31)%</li>
						<li><div class="legend legend-5"></div>Very Unsatisfied (31%)</li>

					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="sectionDataVisWrapper">
			<div class="graphicDataCanvas">
				<div class="plotTitleCanvas">
					<h1 class="">When you find a problem in your city, do you usually report it to city hall? </h1>
				</div>
				<div class="plotCanvas">
					<p class="text-center"><%= image_tag("gf-report.png") %></p>

				</div>
			</div>
			<div class="textDataCanvas">
				<div class="dataConclusionCanvas">
					<h2>Just 14% complain formally to the city hall</h2>
				</div>
				<div class="graphLegendCanvas">
					<h2>Legend</h2>
					<ul>
						<li><div class="legend legend-3"></div>Partially Satisfied (14%)</li>
						<li><div class="legend legend-4"></div>Not Satisfied (86%)</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>



	</div>
</div>
</div>
<div id="about" class="section whiteTheme" data-type="background"
data-0-start="top:-800px"
data-2300-start="top:-800px;"
data-2500-start="top:0px;"
>
<div class="row">
	<div class="col-md-4 sectionDescriptionCanvas">
		<div class="sectionTitleCanvas">
			<h1>About</h1>
			<h2>What we suggest</h2>
		</div>
		<div class="sectionTextCanvas">
			<p class="text-left lead">Vigilant is a crowdsourcing mobile app that allows people to alert the city's problems and exposed them through the Internet. Using the app, the citizen is not only a person who complains about the city but an agent who helps to identify the problems of his community. A vigilant.
			</p>
		</div>
	</div>
	<div class="col-md-8 contentSectionCanvas">
		<div class="appDemonstrationCanvas">
			<ul>
				<li 
				data-2700-start="opacity:1;"
				data-2800-start="opacity:0;"
				data-2700-start="z-index:5;"
				data-2800-start="z-index:4;"
				>
				<div class="appDemonstrationImgCanvas">
					<%= image_tag("eye-icon.png") %>
				</div>
				<div class="appDemonstrationTextCanvas">
					<h2>Find a problem</h2>
					<p>It can be a hole on the street, a broken traffic light, bad traffic sinalization or anything that annoys you.</p>
				</div>
				<div class="clear"></clear>
				</li>
				<li
				data-2700-start="z-index:4;"
				data-2800-start="z-index:5;"
				data-2900-start="opacity:1;"
				data-3000-start="opacity:0;"
				data-2900-start="z-index:5;"
				data-3000-start="z-index:3;"
				>
				<div class="appDemonstrationImgCanvas">
					<%= image_tag("smartphone_camera-icon.png") %>
				</div>
				<div class="appDemonstrationTextCanvas">
					<h2>Capture the problem</h2>
					<p>Take a picture of the problem to prove it.</p>
					</div>
					<div class="clear"></clear>
					</li>
					<li
					data-2900-start="z-index:3;"
					data-3000-start="z-index:5;"
					data-3100-start="opacity:1;"
					data-3200-start="opacity:0;"
					data-3100-start="z-index:5;"
					data-3200-start="z-index:2;opacity:0;">
					<div class="appDemonstrationImgCanvas">
						<%= image_tag("form3-icon.png") %>
					</div>
					<div class="appDemonstrationTextCanvas">
						<h2>Register the problem</h2>
						<p>Fill a brief form and attach your photo to illustrate the problem.</p>
					</div>
					<div class="clear"></clear>
					</li>
					<li
					data-3100-start="z-index:1;"
					data-3200-start="z-index:5;"
					data-3300-start="opacity:1;"
					data-3400-start="opacity:0;"
					data-3300-start="z-index:2;"
					data-3400-start="z-index:5;"
					>
					<div class="appDemonstrationImgCanvas">
						<%= image_tag("cloud-icon.png") %></div>
						<div class="appDemonstrationTextCanvas">
							<h2>Send</h2>
							<p>Once you finish your form, it will be available to everybody.</p>
						</div>
						<div class="clear"></clear>
						</li>
						<li
						data-3300-start="z-index:1;opacity:0;"
						data-3400-start="z-index:5;opacity:1;"
						>
						<div class="appDemonstrationImgCanvas">
							<%= image_tag("map-icon.png") %></div>
							<div class="appDemonstrationTextCanvas">
								<h2>Let people know</h2>
								<p>The app not only records the problems, but display them to everybody.</p>
							</div>
							<div class="clear"></clear>
							</li>
						</ul>
					</div>
					<ul>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="contact"
	data-3800-start="top:-810px;"
	data-4000-start="top:0;"
	>
	<div class="row">
		<div class="col-md-3 sectionDescriptionCanvas whiteTheme" >
			<div class="sectionTitleCanvas">
				<h1>Contact</h1>
				<h2>Who we are</h2>
				<p class="lead">
					If you want to send a message, a feedback or just 'hi' we will appreciate it.
				</p>
			</div>
		</div>
		<div class="col-md-9 contentSectionCanvas">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<div class="contactTile">
						<div class="contactPhoto">
							<%= image_tag("contact-victor.jpg") %>
						</div>
						<div class="contactInfoContainer">
							<div class="contactName">
								<h1>Victor Martinez</h1>
							</div>
							<div class="contacList">
								<ul>
									<li>
										<div class="contactIcon">
											<%= image_tag("mail-icon.png") %>
										</div>
										vmartinez@gmail.com</li>
										<li>
										<div class="contactIcon">
											<%= image_tag("linkedin-icon.png") %>
										</div>
										br.linkedin.com/in/vctmartinez
</li>
										<li>
										<div class="contactIcon">
											<%= image_tag("twitter-icon.png") %>
										</div>
										@_martinezvictor</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<div class="contactTile">
							<div class="contactPhoto">
								<img src="https://scontent-b-lhr.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10258745_707738165959348_1218981357165806962_o.jpg" />
							</div>
							<div class="contactInfoContainer">
								<div class="contactName">
									<h1>Bernardo Bechtold</h1>
								</div>
								<div class="contacList">
								<ul>
									<li>
										<div class="contactIcon">
											<%= image_tag("mail-icon.png") %>
										</div>
										bbechtold21@gmail.com</li>
										<li>
										<div class="contactIcon">
											<%= image_tag("linkedin-icon.png") %>
										</div>
										ie.linkedin.com/in/bbechtold/
</li>
										<li>
										<div class="contactIcon">
											<%= image_tag("twitter-icon.png") %>
										</div>
										@berhell</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	var s = skrollr.init();
	</script>


